html, body {
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100% - 10%);
}

button {
    padding: 10px 20px;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 26px;
    cursor: pointer;
    width: min(50%, 520px);
    height: 4em;

    transition: all .15s ease-out;

    font-family: Orbitron, monospace;
    letter-spacing: 6px;
    font-size: 3.5em;

    box-shadow: 0.5vh 0.5vh 0.25vh 0 rgba(0, 0, 0, 0.65);
}

button:hover {
    transform: translateY(0.5vh);
    filter: brightness(0.9);
    box-shadow: 0.3vh 0.3vh 0.15vh 0 rgba(0, 0, 0, 0.65);
}

button:nth-child(1) {
    background-color: var(--button-primary);
}

button:nth-child(2) {
    background-color: var(--button-secondary);
}

button:nth-child(3) {
    background-color: var(--button-tertiary);
}

/* Basic styles for the popup */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.popup input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}
.popup button {
    padding: 5px 10px;
    margin-right: 5px;
}
.overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#menu-panorama {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
}

#splash-text, #splash-text-shadow {
    text-align: center;
    position: absolute;
    margin-left: 70vw;
    margin-top: 20vh;
    rotate: 20deg;
    font-family: Orbitron, monospace;
    color: white;
    width: 22vw;
    font-size: 2.5vw;
    animation: fadeIn 1s;
    animation: growShrink 6s infinite;
}

#splash-text-shadow {
    color: black;
    margin-left: 70.10vw;
    margin-top: 20.2vh;
}

@keyframes growShrink {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 1000px) {
    #container {
        height: calc(100% - 5%);
    }
}