.UwU_Papa {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;
    text-align: center;
}

.Braden_Sux_If_He_Reads_This {
    font-size: 10px;
    color: lightgray;
    text-align: center;
}