html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#title {
    position: absolute;
    color: white;
    font-size: 5vw;
    font-family: Orbitron, monospace;
    margin-top: -11vh;
    width: 100%;
    text-align: center;
}

#guesses {
    position: absolute;
    color: white;
    font-size: 5vw;
    font-family: Orbitron, monospace;
    margin-top: -11vh;
    width: 100%;
    text-align: center;
}

#spectator-windows {
    height: 90vh;
    width: 100vw;
    position: absolute;
}

#leaderboard {
    height: 87.5vh;
    width: 100vw;
    margin-top: 2vh;
}

#map {
    height: 90vh;
    width: 100vw;
    position: absolute;
}

.leaderboard-icon {
    border-radius: 50%;
    margin-top: 2.5vh;
    margin-left: 1.5vw;
    border: 0.4vh solid white;
}

.leaderboard-name, .leaderboard-score {
    color: white;
    position: absolute;
    font-family: Orbitron, monospace;
}

.leaderboard-name {
    margin-top: 3vh;
    margin-left: 2vw;
}

.leaderboard-score {
    margin-left: 2vw;
}

#first {
    width: 90vw;
    height: 30vh;
    float: right;
    border-radius: 5vh;
    margin-right: -2vw;
    box-shadow: 0.5vh 0.5vh 0.25vh 0 rgba(0, 0, 0, 0.65);
    background-color: var(--button-primary);
}

#firstImg {
    height: 25vh;
}

#firstName {
    font-size: 5vw;
}

#firstScore {
    font-size: 5vw;
    margin-top: 15vh;
}

#second {
    width: 80vw;
    height: 25vh;
    float: right;
    border-radius: 5vh;
    margin-top: 2vh;
    margin-right: -2vw;
    box-shadow: 0.5vh 0.5vh 0.25vh 0 rgba(0, 0, 0, 0.65);
    background-color: var(--button-secondary);
}

#secondImg {
    height: 20vh;
}

#secondName {
    font-size: 4vw;
}

#secondScore {
    font-size: 4vw;
    margin-top: 13vh;
}

#third {
    width: 70vw;
    height: 20vh;
    float: right;
    border-radius: 5vh;
    margin-top: 2vh;
    margin-right: -2vw;
    box-shadow: 0.5vh 0.5vh 0.25vh 0 rgba(0, 0, 0, 0.65);
    background-color: var(--button-tertiary);
}

#thirdImg {
    height: 15vh;
}

#thirdName {
    font-size: 3vw;
}

#thirdScore {
    font-size: 3vw;
    margin-top: 11vh;
}

#wait-message {
    position: absolute;
    text-align: center;
    width: 40%;
    font-size: 6vh;
    margin-left: 30vw;
    margin-top: 10vh;
}

#timer {
    position: absolute;
    bottom: 0;
    margin-bottom: 5vh;
    margin-left: 3vw;
    text-align: center;
    font-size: 6vh;
    opacity: 0.0;
    width: 10vw;
    background-color: white;
    outline: 1px solid black;
}

@media(max-width: 1000px) {
    #title {
        margin-top: -5vh;
        font-size: 4vw;
    }

    #guesses {
        margin-top: -5vh;
        font-size: 4vw;
    }

    #map {
        height: 95vh;
    }

    .leaderboard-icon {
        margin-left: 5vw;
    }

    .leaderboard-name {
        text-align: center;
    }

    .leaderboard-score {
        margin-left: 15vw;
    }

    #firstImg {
        height: 18vh;
    }

    #firstName {
        margin-top: 23vh;
        margin-left: -20vw;
    }

    #firstScore {
        margin-top: 10vh;
        font-size: 8vw;
    }


    #secondImg {
        height: 14vh;
    }

    #secondName {
        font-size: 4.5vw;
        margin-top: 19vh;
        margin-left: -16vw;
    }

    #secondScore {
        margin-top: 8.5vh;
        font-size: 7vw;
    }

    #thirdImg {
        height: 10vh;
    }

    #thirdName {
        font-size: 4vw;
        margin-top: 15vh;
        margin-left: -12vw;
    }

    #thirdScore {
        margin-top: 6.5vh;
        font-size: 6vw;
    }

    #timer {
        position: absolute;
        bottom: 0;
        margin-bottom: 5vh;
        margin-left: 3vw;
        text-align: center;
        font-size: 6vh;
        opacity: 0.0;
        width: 20vw;
        background-color: white;
        outline: 1px solid black;
    }
}